<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-r">R para análisis científicos reproducibles</h3>
    <ul>
    <li>Gestión de proyectos con RStudio</li>
      <li>Explorando Data Frames</li>
      <li>Creando gráficas con <code>ggplot</code></li>
      <li>Creando y usando funciones</li>
      <li>Manipulando dataframes con <code>dplyr</code> y <code>plyr</code></li>
      <li>Escribiendo buen software</li>
      <li><a href="https://swcarpentry.github.io/r-novice-gapminder-es/reference">Reference...</a></li>
      <li><a href="https://swcarpentry.github.io/r-novice-inflammation/reference">Reference adicional para programando con R...</a></li>
    </ul>
  </div>

  <div class="col-md-6">
    <h3 id="syllabus-git">El control de versiones con Git</h3>
    <ul>
      <li>Creando un repositorio</li>
      <li>Rastreando Cambios: <code>add</code>, <code>commit</code>, ...</li>
      <li>Explorando el **History**: <code>status</code>, <code>diff</code>, ...</li>
      <li>Ignorando cosas</li>
      <li>Repositorios remotos en GitHub: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li>Trabajos en colaboración</li>
      <li>Resolving conflicts</li>
      <li>Conflictos</li>
      <li>Licencia</li>
      <li>Ejemplo de referencia o cita</li>
      <li>Hospedaje</li>
      <li>Usando Git desde RStudio</li>
      <li><a href="https://swcarpentry.github.io/git-novice-es/reference/">Referencia...</a></li>
    </ul>
  </div>

